{% extends "base.html.twig" %} 

{% block title %}{{ parent() }} | Liste{% endblock %}

{% block body %}
		{{ parent() }}
		<!-- Liste demandeurs d'emploi -->
    <main>
    <div class="container-fluid">
    <div class="row">

    	<div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
			
			<h1 class="titrePage col-lg-9 col-md-8">demandeurs d'emploi</h1>
			<a href="{{ path('demandeurs_new') }}">

				<button type="button" class="col-lg-3 col-md-4 btn addNew">Nouveaux demandeur</button>
			</a>
		</div>

    	<div class="screen col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">

    		<button class="filter btn btn-default col-lg-2" type="button">Filtrer</button>

    		<div class="filtrer inner-addon left-addon" type="button">
    			<input type="text" class="form-control" name="Recherche"  value="Recherche par ..">
    			<i class="glyphicon glyphicon-search"></i>
    		</div>

			<!--<div class="input-group col-lg-offset-6 col-lg-3 ">
		      
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"></button>
		      </span>
		    </div>-->

			
			<div class="lesFiltres col-lg-12" name="appbundle_demandeuremploi" method="POST">	
				

				<select type="button" name="nameMetier" title="Métier" class=" col-lg-2 col-md-2 selectpicker" id="metier">

					{% for choixmetier in metier %}
						<option value="valeur1" name= "valeur1">
							{{choixmetier}} 
						</option>
					{% endfor %}
				</select>

				<select type="button" title="RQTH" class=" col-lg-2 col-md-2 selectpicker">
					<option value="A">oui</option>
					<option value="B">non</option>
				</select>
				<select type="button" title="Quartier" class=" col-lg-2 col-md-2 selectpicker">
					<option value="A">Aucun</option>
					<option value="B">Cleunay</option>
					<option value="C">Le Blosne</option>
					<option value="D">Les Cloteaux/Champs Manceaux</option>
					<option value="D">Maurepas</option>
					<option value="D">Villejean</option>
				</select>
				<select type="button" title="Permis" class=" col-lg-2 col-md-2  col-lg-2 col-md-2 selectpicker">
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
					<option value="D">E</option>
					<option value="D">BEA</option>
				</select>
				<select type="button" title="Genre" class=" col-lg-2 col-md-2 selectpicker">
					<option value="A">Autre</option>
					<option value="B">Femme</option>
					<option value="C">Homme</option>
				</select>	
				<select type="button" title="Tranche d'âge" class=" col-lg-2 col-md-2  col-lg-2 col-md-2 selectpicker">
					<option value="A">Moins de 25 ans</option>
					<option value="B">Entre 25 et 49 ans</option>
					<option value="C">50 ans et plus</option>
				</select>
				<select type="button" title="Référent" class=" col-lg-2 col-md-2 selectpicker">
					<option value="A">Sfia AGOUJIL</option>
					<option value="C">Malika AIT HAMMAD</option>
					<option value="B">Christine KERVENNIC</option>
					<option value="D">Mustapha LAABID</option>
					<option value="E">Daïna RIVERAIN</option>
				</select>
			</div>
			

    	<table class="table col-lg-12 col-md-12 col-sm-12" id="listDE">
		  <thead>
		    <th class="triable" data-sort="int">ID</th>
		    <th class="triable" data-sort="string">Action</th>
		    <th class="triable" data-sort="string">Nom</th>
		    <th class="triable" data-sort="string">Prénom</th>
		    <th class="triable genre" data-sort="string">Genre</th>
		    <th>Téléphone</th>
		    <th>Email</th>
		    <th class="triable idPe" data-sort="int">ID PE</th>
		    <th class="triable metier" data-sort="string">Métier</th>
		    <th class="triable rqth" data-sort="string">RQTH</th>
		    <th class="triable qpv" data-sort="string">QPV</th>
		    <th class="triable permis" data-sort="string">Permis</th>
		  </thead>	

{% for demandeurEmploi in demandeurEmplois %}

			<tr>
				<td class="id">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.idde }}
					</a>
				</td>
				<td class="action">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
					</a>
				</td>
				<td  class="nom">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.nomDe }}
					</a>
				</td>
				<td  class="prenom">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.prenomDe }}
					</a>
				</td>

				<td class="genre">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.genregenre }}
					</a>
				</td>
				<td class="tel">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.tel1De }}
					</a>
				</td>
				<td class="mail">
					<a href="mailto:contact@site.com">
						{{ demandeurEmploi.mailDe }}
					</a>
				</td>
				<td class="idPe">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.numPoleEmploiDe }}
					</a>
				</td>
				<td class="metier">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.metiermetier }}
					</a>
				</td>
				<td class="rqth">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.rqthrqth }}
					</a>
				</td>
				<td class="qpv">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.qpv }}
					</a>
				</td>
				<td class="permis">
					<a href="{{ path('demandeurs_show', { 'id': demandeurEmploi.idde }) }}">
						{{ demandeurEmploi.locomotion }}
					</a>
				</td>
			</tr>
{% endfor %}

			
		</table>
		

		<div class="pagin col-lg-offset-1 col-lg-10">
			<nav aria-label="Page navigation">
			    <ul class="pagination pagination-lg">
				    <li class="prevNext">
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&#139;</span>
				      </a>
				    <!--</li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li><a href="#">6</a></li>
					    <li><a href="#">7</a></li>
					    <li><a href="#">8</a></li>
					    <li><a href="#">9</a></li>-->
				    <li class="prevNext">
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&#155;</span>
				      </a>
				    </li>
			    </ul>
			</nav>
		</div>
	</div>

	</div>
	</div>
	</div>
	</main>
{% endblock %}
